.newsblocks {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
}

.newsblock {
	width: 40%;
	margin-bottom: 20px;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 2px 2px 3px 0px rgba(214, 211, 214, 1);
}
.newsblock h4 {
	margin-top: 0;
	padding: 0.5em;
}
.newsblock img {
	width: 100%;
	max-height: 200px;
	background: linear-gradient(
		to right,
		var(--secondary-bg-color) 0%,
		#f6f6f6 100%
	);
}

.newsblock a {
	padding: 5px 0.5em 5px 0.5em;
	text-decoration: none;
	background: var(--secondary-bg-color);
	color: var(--primary-txt-color);
}

@media screen and (min-width: 630px) {
	.newsblock {
		width: 28vw;
		max-width: 250px;
	}
}
