.newslist {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.newslist h2 {
	width: calc(100% - 40px);
	margin-left: 0;
	background: var(--primary-bg-color);
	color: var(--primary-txt-color);
	margin-top: 0;
	margin-bottom: 15px;
	padding: 0.5em;
	text-transform: uppercase;
	border-radius: 4px;
}

.newslist_item {
	width: 90%;
	height: 100px;
	margin: 20px auto;
	text-align: center;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--primary-bg-color);
}

.newslist_item img {
	width: 30%;
	height: 100px;
	background: linear-gradient(
		to right,
		var(--primary-bg-color) 0%,
		#f6f6f6 100%
	);
	border-radius: 5px;
	box-shadow: -3px -3px 10px 6px rgba(230, 230, 230, 1);
}

.newslist_item a {
	padding: 5px 0.5em 5px 0.5em;
	text-decoration: none;
	color: var(--secondary-bg-color);
}

@media screen and (min-width: 630px) {
	.newslist_item {
		width: calc(50% - 40px);
		margin: 20px;
	}
}
