/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap');

/* Variables */

:root {
	--main-bg-color: #ffffff;
	--primary-bg-color: #231942;
	--primary-bg-color-disabled: #4f437c;
	--primary-txt-color: #ffffff;
	--secondary-bg-color: #e44f50;
	--select-bg-color: #86efea;
	--secondary-txt-color: #ffffff;
	--alert-bg-color: #dd3535;
}

/* Styles reset */

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
img {
	margin: 0;
	padding: 0;
}

/* General styles */

body {
	font-family: 'Mulish', sans-serif;
}

h1 {
	font-size: 26;
}

h2 {
	font-size: 18px;
	margin: 5px 0 10px 0;
}

h3 {
	font-size: 14px;
	margin: 14px;
}

h4 {
	font-size: 12px;
	font-weight: 600;
	margin: 12px;
}

p {
	font-size: 12px;
}

b {
	font-weight: 600;
}

.disabled {
	color: var(--primary-bg-color-disabled);
}
.icon {
	width: 14px;
	height: 14px;
	margin: 0;
}

/* Classes */

.main {
	background-color: var(--main-bg-color);
	display: flexbox;
	width: 100vw - 6px;
	height: 100%;
	border-left: 3px solid var(--secondary-bg-color);
	border-right: 3px solid var(--secondary-bg-color);
}

.container {
	padding: 20px 30px;
}
